@tailwind base;
@tailwind components;

@import "animations.css";

body, html {
	overflow-x: hidden;
  background: #FAFAFA
}

input[type='range']::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  background: #fa674d;
  /* box-shadow: -405px 0 0 400px #605e5c; */
  border-radius: 50%;
}

input[type='range']:disabled::-webkit-slider-thumb {
  background: #7F7F7F;
}

input.blue[type='range']::-webkit-slider-thumb {
  background: #FFFFFF;
	border: 2px solid #1B214D;
}

input.gray[type='range']::-webkit-slider-thumb {
  background: #FFFFFF;
	border: 2px solid #BABABA;
}

input[type='range']:disabled::-webkit-slider-thumb {
  background: #7F7F7F;
}

/* input[type='checkbox'] {
	backgroundColor: '#ff0000';
	border: 0;
} */

h1 {
  @apply text-blue-900;
}
body {
	@apply text-blue-900;
}

@tailwind utilities;

@layer utilities {
  .border-white {
    border-color: #fff
  }

  .shadow-bottom {
    box-shadow: 0 5px 5px -5px #E6E6E6;
  }

  .shadow-top {
				box-shadow: 0 -5px 5px -5px #E6E6E6;
			}
}
